<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<title>Aditya207</title>
<style>
    .back{
        background-color: palevioletred;
    }
</style>

<div id="app" style="text-align: center;">
        <h1>Calculator</h1>
        <input v-model="input1" placeholder="input1">
        <input v-model="input2" placeholder="input2">
        
        <p class="space"></p>
        <button v-on:click = "hasil = parseFloat(input1) + parseFloat(input2)">+</button>
        <button v-on:click = "hasil = parseFloat(input1) - parseFloat(input2)">-</button>
        <button v-on:click = "hasil = parseFloat(input1) * parseFloat(input2)">*</button>
        <button v-on:click = "hasil = parseFloat(input1) / parseFloat(input2)">/</button>
        
        
        <h2>Real-Time Calculator</h2>
        <p>Hasil Jumlah : {{hasil_jumlah}}</p>
        <p>Hasil Kurang : {{hasil_kurang}}</p>
        <p>Hasil Kali : {{hasil_kali}}</p>
        <p>Hasil Bagi : {{hasil_bagi}}</p>
        
        <h2>Hasil Tekan Tombol</h2>
        <p>{{hasil}}</p>
    
        <h2>List</h2>
        <div>
            <ul>
                <li v-for="item in suka" :class="{ back: item.flag }" v-on:click="tooglesuka(item)">
                    <p>{{ item.nama }} - {{ item.kelas }} - {{ item.hobi }}</p>
                </li>
            </ul>
        </div>
</div>

<script src = "script.js"></script>